.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 50px;
}

.subcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.maintitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 3rem;
  color: var(--darkgrey);
  margin-bottom: 30px;
  text-align: center;
}

@media all and (max-width: 450px) {
  .maintitle {
    font-size: 2.5rem;
  }
}